<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.freskita">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Freskita">
        <activity
            android:name=".ui.produccion.NuevaSiembraActivity"
            android:exported="true"
            android:parentActivityName=".ui.produccion.ProduccionActivity" />
        <activity
            android:name=".ui.produccion.ProduccionActivity"
            android:exported="true"
            android:label="@string/title_activity_siembras"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.compras.EditCompraActivity"
            android:exported="true"
            android:parentActivityName=".ui.compras.ComprasActivity" />
        <activity
            android:name=".ui.compras.NuevaCompraActivity"
            android:exported="true"
            android:parentActivityName=".ui.compras.ComprasActivity" />
        <activity
            android:name=".ui.compras.DetalleCompraActivity"
            android:exported="true"
            android:parentActivityName=".ui.compras.ComprasActivity" />
        <activity
            android:name=".ui.compras.ComprasActivity"
            android:exported="true"
            android:label="@string/title_activity_compras"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>